/* Toasts Notify */
.toast-notify-container {
    position:fixed;
    right:30px;
    bottom:20px;
    width: calc(100% - 40px);
    max-width:320px;
    z-index:999;

    .toast-notify-item {
        display:block;
        width:100%;
        min-height:50px;
        margin-top:10px;
        background-color:rgba(0,0,0,0.85);
        box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.3);
        color: #fff;
        padding:10px;
        
        
        .toast-notify-item-icon {
            display:inline-block;
            margin-right: 10px;
            color:#fff;
        } 
        
        .toast-notify-item-text {
            display: inline-block;
            font-size:15px;
            line-height:18px;
            vertical-align: top;
            max-width: 220px;
        }
        
        a.toast-notify-item-close {
            color:#ddd;
            width:44px;
            height:44px;
            text-align:center;
            position:absolute;
            right:0;
        
            &:hover {
                color:#fff;
            } 
        }
        
        // colors
        &[data-notify-type="success"]    .toast-notify-item-icon {color:$color-status-ok;}
        &[data-notify-type="error"]      .toast-notify-item-icon {color:$color-status-error}
        &[data-notify-type="warning"]    .toast-notify-item-icon {color:$color-status-warning;}
        &[data-notify-type="info"]       .toast-notify-item-icon {color:$color-status-info;}
    }
}
