.page-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.1);
    color: #aaa;
    padding-top: calc(50vh - 25px);
    display: none;

    &.active {
        display: block;
    }
}