.features.align-left    {text-align:left}
.feature .feature-title {font-size:24px;line-height:42px;}
.feature .feature-text  {font-size:16px;line-height:28px;margin-bottom:20px;color:#555;}
.feature .feature-icon  {font-size:48px;padding-bottom:10px;width:82px;}
.features.align-left .feature .feature-icon {position: absolute;margin-left:-90px;}    
.features.align-left .feature {padding-left:90px;min-height:120px; }    
.feature .feature-title {font-size:24px;line-height:36px;}
.feature .button {text-transform: uppercase;}
//TODO