*, 
*::after, 
*::before {
  box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*   */
ul,
ol {
	margin: 0;
	padding: 0;
}

/*   */
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}