
.color-status-ok       {color: $color-status-ok }
.color-status-warning  {color: $color-status-warning; }
.color-status-error    {color: $color-status-error; }

.background-status-ok       {background-color: $color-status-ok; }
.background-status-warning  {background-color: $color-status-warning; }
.background-status-error    {background-color: $color-status-error; }